:root{
  --var-rand-blue:#0073CE;
  --var-rand-light-blue:#00A5F0;
  --var-rand-green-light:#00D7D7;
  --var-brand-yellow: #FFC800;
  --var-brand-gradient: linear-gradient(99.31deg, #00A5F0 7.94%, #00D7D7 95.32%);

  --var-grey-600: #33303E;
  --var-grey-500: #4E4B59;
  --var-grey-400: #5F5C6B;
  --var-grey-300: #7A7786;
  --var-grey-200: #C6C5CE;
  --var-grey-100:#F1F0F5;
}










